#imageContainer {
    position: relative;
}
#img-canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.canvas {
    border: 1px solid #f00;
    margin: 5px;
}

#selected-faces-container-card {
    margin-left: 20px;
    position: relative;
}