#imageContainer {
    position: relative;
}
#img-canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.canvas {
    border: 1px solid #f00;
    margin: 5px;
}

#image-container-card {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

#selected-faces-container-card {
    display: inline-block;
    position: absolute;
    width: fit-content;
    max-width: 750px;
    min-width: 445px;
    margin-left: 20px;
    margin-right: 50px;
}
.submit-btn{
    margin-bottom: 10px;

}

.card-header {
    display: flex;
    flex-direction: column;
}
.card-body {
    max-height: 600px;
    overflow: scroll;

}
.face-count{
    margin-left: 10px;
}

.thumbnail-container {
    display: inline-block;
    border: solid;
    width: fit-content;
    border-color: black;
    padding: 2px;
    margin: 2px;
}

#tap-select-message {
    display: none;
}